.end {
    padding: 0 215px 85px;
}

.txt {
    padding-bottom: 65px;
}

.txt h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    padding-bottom: 12px;
}

.txt p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.sectors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sector {
    background: #17002E;
    margin: 0 30px 30px 0;
    padding: 30px 30px 25px;
    border-radius: 8px 10px 10px 8px;   
}

section {
    display: flex;
    text-align: center;
    justify-items: center;
}

.sector h4 {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.sector p {
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 18px;
}


section p {
    border-bottom: 2px solid #FFFFFF;
    padding: 8px 0 9px;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}